@media screen and (max-width: 720px) {
  #divBtnContainer button {
    display: block;
    padding: 10px;
    width: 100px;
    margin: 50px auto;
  }
  #logIn,
  #userForm {
    width: 90%;
    margin: 10% auto;
  }
  #quizQuestions {
    font-size: 12px;
  }
  .timer {
    width: 50px;
    height: 50px;
    font-size: 20px;
    left: 0;
  }
  .form-control {
    font-size: 14px;
    padding-left: 0;
  }
  #results h3 {
    font-size: 20px;
    margin-bottom: 15%;
  }
  #results div a:nth-child(2),
  #results div a:nth-child(3) {
    margin: auto;
  }
}
