@media screen and (max-width: 720px) {
  .img-thumbnail {
    position: relative;
    border-radius: 50%;
    height: 65%;
    width: 65%;
    left: 37.5%;
    top: 10%;
  }
  .card-body {
    margin: 0;
  }
  #pils,
  #pharmacist,
  #programer {
    background-image: none;
  }
  footer h3,
  h4 {
    font-size: 16px;
  }

  footer a img {
    width: 20px;
  }
  footer {
    position: relative;
    height: 15vh;
  }
  article button {
    width: 60%;
    margin-left: 20%;
  }
}
