body {
  height: 100vh;
  /* //background-image: url("https://cdn.pixabay.com/photo/2015/09/04/23/41/dandelion-923221_1280.jpg"); */
  background-image: url("https://cdn.pixabay.com/photo/2021/05/19/14/31/dandelion-6266231_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}
footer a img {
  width: 50px;
}
footer h3,
h4 {
  color: gray;
}
